/* Bootstrap */

@media  (max-width: 674px) {
    .nav-item {
        display: none;
    }    
}



@media  (max-width: 674px) {
    .section1 {
        flex-direction: column;
        align-items: center;
    }
    .section2 {
        flex-direction: column;
    }
}

